#appContainer {
  background-color: #f5f1ed;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding-top: 4rem;
}

#homepage {
  position: relative;
  margin: 2rem;
  width: fit-content;
  height: fit-content;
}

#tableHeading {
  color: #6e6969;
  font-family: "Raleway";
  font-size: 20px;
  margin: 2rem 0 0.5rem 0;
}

#lessonChangeRequestHeader {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  align-items: center;
}
